#!/usr/bin/env python

PACKAGE='human_layers'

import sys
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("enabled",    bool_t,   0, "Whether to apply this plugin or not ",             True)
gen.add("amplitude",  double_t, 0, "Amplitude of adjustments at peak",                 254.0, 0.0, 254.0)
gen.add("radius",  double_t, 0, "Radius of the Gaussian",                 1.5, 0.0, 10.0)
exit(gen.generate(PACKAGE, "human_layers", "HumanVLayer"))
